body{
	background-color:#D9D9DB;
}
body{
	font-family: none;
	font-size:none;
}

*{margin:0; padding:0;}

.full_wrapper{
	width:100%;
}

.header_mainwrapper{
	background:#e6c93c;
	
}

.manu_mainwrapper{
	background:#F4F7A3;

	}
	
.slider_mainwrapper{

	background:#898488;
	
}
.content_mainwrapper{
	background:white;
}
.footer_mainwrapper{
		background:#acfae4;

}




h2{
	font-size: 28px;
	  text-shadow: 7px -5px 1px #e0d1bc;
	margin-left:10px;}

#wrapper{
	width:960px;
	margin:20px auto;
	background-color:#D9D9DB;

}

#header{
	width:960px;
	background-color:#e6c93c;
	 border-bottom:  3px solid #3b3d02;
	 border-left: 1px solid #3b3d02;
	 border-right:  1px solid #3b3d02;
	 margin:0 auto;
}

#header h2{
	color:#0f307d;
	font-family: 'Fredoka One', cursive;
	text-align: left;
	margin: 16px 15px 0px 10px;
}
#header p{
	color:#85075f;
	margin: 0px 0px 0px 10px;
}

#manu ul li:last-child{
	border-right:none;
}
#manu{
	width:960px;
	border-right:1px solid blue;
	border-left:1px solid blue;
	border-bottom:3px solid #827D83;
	margin:0 auto;
	height:38px;
	background-color:#f4f7a3;

}
#manu ul{
		list-style-type:none;
		z-index:99999;
	
}
#manu ul li{

	border-right:1px solid blue;
	float:left;
	position:relative;
}
#manu ul li a{
		display:block;
		text-decoration:none;
		padding:10px 20px;
		display:block;
		transition:0.5s;
}
#manu ul li a:hover{
	background-color:#f55bf2;
	color:black;
	font-family: 'Fredoka One', cursive;	
}


#manu ul li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-9999px;	
}
#manu ul li:hover ul{
	left:0px;
	background-color:#d4e02b;
}
#manu ul li ul li{
	border-right:none;
	border-left:none;
	float:none;
	border-bottom: 1px solid #3b3d02 ;
	width:130px;
	position:relative;
}
#manu ul li ul li ul{
	position:absolute;
	top:-99999px;	
}
#manu ul li ul li:hover ul{
	top:0;
	left:130px;
}
#manu ul li ul li ul li {
	width:147px;
	border-left:1px solid #0000FF;

}
#manu ul li ul li ul li :last-child{
		border-left:1px solid #0000FF;

}
#slider{
	width:960px;
	margin:0 auto;
}


#main__content{
	border-left:1px solid #0000FF;
	border-right:1px solid #0000FF;
	width:960px;
	margin:0 auto;

	padding:0px;
	overflow:hidden;
}




#content{
	width:615px;
	margin-right:35px;
	margin-left:10px;
	float:left;
}
#content h2{
	color:blue;
	font-family:arial;
	width:bold;
	margin:0 8px;
	font-size:19px;
}
#content p{
	text-align:justify;
	padding:10px;
	margin:0;
	display:block;
}
#content img{
	width:400px;
	height:300ppx;
	margin-top:8px;

	
}
#content figure{
		text-align:center;
		background-color:#d3d36a;
}
#content figure figcaption{
		font-family: 'Fredoka One', cursive;	
		font-weight:bold;
		
}
#content blockquote{
	background:#e1cafc;
	margin:50px;
	margin-left:30px;
}

#mainc_wrapper{
	overflow:hidden;
	margin-bottom:20px;
}	
	
#mainc_wrapper img{
	display:block;
	float:left;
	width:100px;
	height:100px;
	margin:0;
	margin-right:20px;
	
}
#mainc_wrapper p{
	display:block;	
	width:609px;
	margin:0;
	padding:0;
}
#subc_wrapper{
	overflow:hidden;
	margin-bottom:50px;
	border-bottom: 1px solid #0000FF ;
}


#sideber{
	width:280px;
	float:left;
}


#sideber h2 {
	font-family: 'Fredoka One', cursive;	
	color:blue;
	margin-right:20px;
}
#sideber li{
	list-style-type:none;
	
}
#sideber li a{
	text-decoration:none;
	padding:10px;
	color:#c99400;
}
#sideber li a {
	    line-height: 24px;
}
#sub_sideber{
	border-bottom: 1px solid #0000FF;
}

#footer{
	width:960px;
	border-left:1px solid blue;
	border-right:1px solid blue;
	margin:0 auto;
	

}
#footer p{
	text-align:center;
	padding:10px;
	background-color:#acfae4;
	color:#0b04d1;
	font-size:12px;	
}


artical{
	margin:0;
	padding:0;
}





	
	
